<p id="notice"><%= notice %></p>

<h1>Parcels</h1>

<table>
  <thead>
    <tr>
      <th>Origin</th>
      <th>Destination</th>
      <th>Weight</th>
      <th>Height</th>
      <th>Length</th>
      <th>Width</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Phone number</th>
      <th>Email</th>
      <th>Distance</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parcels.each do |parcel| %>
      <tr>
        <td><%= parcel.origin %></td>
        <td><%= parcel.destination %></td>
        <td><%= parcel.weight %></td>
        <td><%= parcel.height %></td>
        <td><%= parcel.length %></td>
        <td><%= parcel.width %></td>
        <td><%= parcel.first_name %></td>
        <td><%= parcel.last_name %></td>
        <td><%= parcel.phone_number %></td>
        <td><%= parcel.email %></td>
        <td><%= parcel.distance %></td>
        <td><%= parcel.price %></td>
        <td><%= link_to 'Show', parcel %></td>
        <td><%= link_to 'Edit', edit_parcel_path(parcel) %></td>
        <td><%= link_to 'Destroy', parcel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Parcel', new_parcel_path %>
